@model List<Wedding>

<h1>Welcome to the Wedding Planner</h1>

<a asp-action="LogOut" asp-controller="Home" class="btn btn-warning">Log Out</a><br><br>

<table class=" table table-dark">
    <thead>
        <tr>
            <td>Wedding</td>
            <td>Date</td>
            <td>Guest</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(var w in @Model)
            {
                bool going = false;
                <tr>
                    <td><a asp-action="WeddingInfo" asp-controller="Home" asp-route-wed_id="@w.WeddingId">@w.WedderOne & @w.WedderTwo</a></td>
                    <td>@w.Date.ToString("MMMM, dd yyyy")</td>
                    <td>@w.Users.Count</td>
                    <td>
                        @{
                            if(w.Creator == ViewBag.Creator)
                            {
                                <a asp-action="DeleteWedding" asp-route-wed_id="@w.WeddingId" asp-controller="Home">Delete</a>
                            }
                            else
                            {
                                foreach(var x in w.Users)
                                {
                                    if(@ViewBag.Creator == x.User.Email)
                                    {
                                        going = true;
                                    }
                                }
                                if(going == true)
                                {
                                    <a asp-action="UnRSVP" asp-route-wed_id="@w.WeddingId" asp-controller="Home">UnRSVP</a>
                                }
                                else
                                {
                                    <a asp-action="RSVP" asp-route-wed_id="@w.WeddingId" asp-controller="Home">RSVP</a>
                                } 
                            }                                                                                                                                                                                           
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<a asp-action="NewWeddingPage" asp-controller="Home" class="btn btn-success">New Wedding</a>