@model Wedding

<h1>@Model.WedderOne and @Model.WedderTwo 's Wedding</h1>
<a asp-action="Dashboard">Dashboard</a> <a asp-action="LogOut">Log Out</a>

<h2>Date: @Model.Date.ToString("MMMM, dd yyyy")</h2>

<h2>Guests:</h2>

<ul>
    @foreach(var x in @Model.Users)
    {
        <li>@x.User.FirstName @x.User.LastName</li>
    }
</ul>